html{
    background-color: rgb(26, 26, 26);
    background-image: "https://hips.hearstapps.com/hmg-prod/images/assortment-of-colorful-ripe-tropical-fruits-top-royalty-free-image-995518546-1564092355.jpg";
    
}
body{
    align-items: center;
    background-color: rgb(56, 56, 56);
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px,20px;
}
.bananaTree,.image_90, .bannana_bread{
    object-fit: cover;
    width: 90%;
}
.bannana_bread{
    height: 50%;
}
h1,h2,h3,h4,h5,h6,p,nav,li,figcaption,figure,a,a:visited,label{
    color: white;
    
}
h2,h1{
    padding-left: 10px;
}
a:active,a:hover{
    color: rgb(210, 255, 255);
}
label,button,nav{
    padding-left: 20px;

}
header .item{
    display: inline-block;
}
h1{
    font-family: sans-serif;
    text-align: left;
    width: 30%;
    margin-right: auto;
}
nav{
    align-items: right;
    margin-left: auto;
    width: 60%;
    text-align: right;
    margin-top:10px;
    
}
footer p{
    margin:0 auto;
    align-items: center;
    text-align: center;
}
.red{
    background-color: rgb(175, 42, 42);
}
.yellow{
    background-color: rgb(141, 141, 33);
}
.blue{
    background-color: rgb(39, 96, 170);
}